div.col-md-4
    div.box.box-widget.widget-user
        div.widget-user-header.bg-black(style="background: url('./static/img/photo2.png') center center;")
            h3.widget-user-username Elizabeth Pierce
            h5.widget-user-desc Web Designer
        div.widget-user-image
            img.img-circle(src="./adminlte/dist/img/user1-128x128.jpg", alt="User Avatar")                
        div.box-footer
            div.row
                div.col-sm-4.border-right
                    div.description-block
                        h5.description-header 3,200
                        span.description-text SEATS
                div.col-sm-4.border-right
                    div.description-block
                        h5.description-header 45
                        span.description-text CHF
                div.col-sm-4
                    div.description-block
                        button.btn-lg.btn-default.btn-flat(type="button", data-toggle="modal", data-target="#shopModal")
                            i.fa.fa-shopping-cart