script(type='text/javascript', src='/static/js/jquery.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')

script(type='text/javascript', src='/static/js/bootstrap.min.js')
script(type='text/javascript', src='/static/js/adminlte.min.js')
script(type='text/javascript', src='/static/js/demo.js')

