header.main-header
    a(href='index').logo
        span.logo-mini Bank
        span.logo-lg
            strong My
            |Bank
    nav.navbar.navbar-static-top
        a.sidebar-toggle(href="#", data-toggle="push-menu", role="button")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.navbar-custom-menu
            ul.nav.navbar-nav
                li.dropdown.messages-menu
                    a.dropdown-toggle(href="#", data-toggle="dropdown", aria-expanded="false")
                        i.fa.fa-envelope-o
                        span.label.label-success 4
                    ul.dropdown-menu
                        li.header You have 4 messages
                        li
                            ul.menu
                                li
                                    a(href="#")
                                        div.pull-left
                                            img.img-circle(src="./static/img/user2-160x160.jpg", alt="User Image")
                                        h4 Support Team
                                            small
                                                i.fa.fa-clock-o
                                                |  5 mins
                                        p Why not buy a new awesome theme?

                        li
                            ul.menu
                                li
                                    a(href="#")
                                        div.pull-left
                                            img.img-circle(src="./static/img/user2-160x160.jpg", alt="User Image")
                                        h4 Support Team
                                            small
                                                i.fa.fa-clock-o
                                                |  5 mins
                                        p Why not buy a new awesome theme?
                            
                            li.footer
                                a(href="#") See All Messages


                li.dropdown.notifications-menu
                    a.dropdown-toggle(href="#", data-toggle="dropdown", aria-expanded="false")
                        i.fa.fa-bell-o
                        span.label.label-warning 4
                    ul.dropdown-menu
                        li.header You have 4 messages


                        li
                            ul.menu
                                li
                                    a(href="#")
                                        i.fa.fa-users.text-aqua  
                                        |  5 new members joined today
                        li.footer
                            a(href="#") See All Messages

                    
                li.dropdown.tasks-menu
                    a.dropdown-toggle(href="#", data-toggle="dropdown", aria-expanded="false")
                        i.fa.fa-flag-o
                        span.label.label-danger 4
                    ul.dropdown-menu
                        li.header You have 4 messages

                        li
                            ul.menu
                                li
                                    a(href="#")
                                        h3 Design some buttons
                                            small.pull-right 20%

                                        div.progress.xs
                                            div.progress-bar.progress-bar-green(style="width: 40%", role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100")
                                                span.sr-only 40% Complete


                        li.footer
                            a(href="#") See All Messages

                li.dropdown.user.user-menu
                    a.dropdown-toggle(href="#", data-toggle="dropdown", aria-expanded="false")
                        img.user-image(src="./static/img/user2-160x160.jpg", alt="User Image")
                        span.hidden-xs Alexander Pierce
                    ul.dropdown-menu
                        li.user-header
                            img.img-circle(src="./static/img/user2-160x160.jpg", alt="User Image")
                            p Alexander Pierce - Web Developer
                                small Member since Nov. 2012

                        li.user-body
                            div.row
                                div.col-xs-4.text-center
                                    a(href="#") Followers
                                div.col-xs-4.text-center
                                    a(href="#") Sales
                                div.col-xs-4.text-center
                                    a(href="#") Friends

                        li.user-footer
                            div.pull-left
                                a.btn.btn-default.btn-flat(href="#") Profile
                            div.pull-right
                                a.btn.btn-default.btn-flat(href="#") Sign out


                li
                    a(href="#", data-toggle="control-sidebar")
                        i.fa.fa-gears

                li
                    a(href="login")
                        i.fa.fa-sign-out
