div.col-md-6
    div.box.box-warning
        div.box-header
            h3.box-title Tickets
        div.box-body.no-padding
            table.table#ticketsadmintable
                tbody
                    tr
                        th(style="width: 10px") #
                        th Event
                        th Address (Owner)
                        th BlockNumber
                        th(style="width: 50px") isActive
                        th(style="width: 50px") Count
                        th(style="width: 80px") Action
                //
                    tr
                        td 1.
                        td 0x301AB7263FA8133CB
                        td Cyrano de Bergerac
                        td 
                            button.btn-xs.btn-default.btn-flat(type="button", data-toggle="modal", data-target="#transfertTicketModal")
                                i.fa.fa-mail-forward
                            button.btn-xs.btn-default.btn-flat.btn-danger(type="button", data-toggle="modal", data-target="#burnModal")
                                i.fa.fa-remove
                                
        div.overlay#ticketsadmintableoverlay
            i.fa.fa-refresh.fa-spin