div.col-md-12
    ul.timeline
        li.time-label
            span.bg-red 10 Feb. 2014
        li
            i.fa.fa-envelope.bg-blue
            div.timeline-item
                span.time
                    i.fa.fa-clock-o 12:05
                h3.timeline-header
                    a(href='index') Support Team
                    |  sent you an email
        li
            i.fa.fa-user.bg-green
            div.timeline-item
                span.time
                    i.fa.fa-clock-o 5 mins ago
                h3.timeline-header
                    a(href='index') Sarah Young
                    |  accepted your friend request
        li
            i.fa.fa-comments.bg-yellow
            div.timeline-item
                span.time
                    i.fa.fa-clock-o 27 mins ago
                h3.timeline-header
                    a(href='index') Jay White
                    |  commented on your post
        li.time-label
            span.bg-green 3 Jan. 2014
        li
            i.fa.fa-camera.bg-purple
            div.timeline-item
                span.time
                    i.fa.fa-clock-o 2 days ago
                h3.timeline-header
                    a(href='index') Mina Lee
                    |  uploaded new photos
        li.time-label
            i.fa.fa-clock-o.bg-gray